extends /layouts/_default

block content
  #generator
    textarea ST:3w6;KO:3w6;MA:3w6;GE:3w6;ER:3w6;GR:2w6+6;IN:2w6+6;BI:3w6+3;gS:MAx5;Idee:INx5;Glueck:MAx5;Schadensbonus:ST+GR;Magiepunkte:MAx1;Trefferpunkte:KO+GR/2;Stabilitaetspunkte:MAx5
    button#generate generate

  .console

